version: '3.8'

services:
  tippspiel:
    build: .
    volumes:
      - ./data/tippspiel:/data  # persistente DB
    environment:
      - REL_PATH=/tippspiel
      - DB_FILE=/data/data.db
      - MIGRATION_FILES_FOLDER=/app/sql
      - TZ=Europe/Berlin
#      - MAIL_PASSWORD=your_password_here
#      - GROQ_API_KEY=your_api_key_here
#      - GROQ_AI_MODEL="llama-3.3-70b-versatile"
    restart: unless-stopped
networks:
  default:
    name: webapps
    external: true
